logzero==1.7.0
networkx
numpy
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==11.525.112
oauthlib==3.2.2
openpyxl==3.0.10
pandas==2.0.2
Pillow==9.4.0
ply==3.11
protobuf==4.23.2
pyg-lib==0.2.0
queuelib==1.5.0
rdkit==2023.3.1
scikit-learn
scipy==1.10.1
seaborn
tensorboard==2.13.0
torch==1.13.1
torch-cluster==1.6.1+pt113cu116
torch-geometric==2.3.1
torch-scatter==2.1.1+pt113cu116
torch-sparse==0.6.17+pt113cu116
torch-spline-conv==1.2.2+pt113cu116
tqdm
